<div *ngIf="show">
    <div *ngIf="displayTable" id="tableme">
        <table datatable [dtOptions]="dtOptions" class="row-border  hover nowrap cell-border stripe table2"></table>
    </div>
    <p style="color:black">Last Refresh Time: {{update_time}}</p>
</div>
<div *ngIf="table" id="outertable">
    <p class="policy">Password Policy Details ( {{message.AccountName}} )</p><br>
    <table>
        <thead>
            <th>Expire Passwords</th>
            <th>Max Password Age</th>
            <th>Hard Expiry</th>
            <th>Minimum Password Length</th>
            <th>Password Reuse Prevention</th>
        </thead>
        <tbody>
            <td>{{message.ExpirePasswords}}</td>
            <td>{{message.MaxPasswordAge}}</td>
            <td>{{message.HardExpiry}}</td>
            <td>{{message.MinimumPasswordLength}}</td>
            <td>{{message.PasswordReusePrevention}}</td>
        </tbody>
    </table><br>
    <button (click)="bottonClick()">Back</button>
</div>